{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Megano Blog' %}</li>
         </ol>
    </nav>
{% endblock %}
{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Megano Blog</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="index.html">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Blog</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <div class="Cards Cards_blog">
          {% for news in blog_list%}
             <div class="Card">
              <a class="Card-picture" href="#">
                <img src="{{ news.image.url }}" alt="{{ news.title }}"/></a>
              <div class="Card-date">
                <strong class="Card-date-number">24</strong><span class="Card-date-month">nov</span>
              </div>
              <div class="Card-pin">
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">{{ news.title }}</a></strong>
                <div class="Card-description">{{ news.short_descr }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
 <div class="Pagination">
    <div class="Pagination-ins">



         {% if page_obj.has_previous %}
            <a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.previous_page_number }}">
                <img src="{% static 'img/icons/prevPagination.svg' %}" alt="prevPagination.svg"/>
            </a>
        {% endif %}
        {% for i in paginator.page_range %}
             <a class="Pagination-element {% if page_obj.number == i %} Pagination-element_current {% endif %}  " href="?page={{i}}">
                <span class="Pagination-text">{{i}}</span>
            </a>
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.next_page_number }}">
                <img src="{% static 'img/icons/nextPagination.svg' %}" alt="nextPagination.svg"/>
            </a>
        {% endif %}


    </div>
  </div>
</div>
{% endblock %}