{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans 'Megano - Catalog' %}
{% endblock %}
{% load static %}
{% load shop_tag %}
{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Catalog Megano</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Catalog' %}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
             {% if catalog %}
            <header class="Section-header">
              <strong class="Section-title">{% trans 'Filter' %}</strong>
            </header>
            <div class="Section-columnContent">
              <form class="form" action="?" method="GET">
                <div class="form-group">
                  <div class="range Section-columnRange">
                    <input class="range-line" id="price" name="price" type="text" data-type="double" data-min="{{ min_price }}" data-max="{{ max_price }}" data-from="{{ min_price_set }}" data-to="{{ max_price_set }}"/>
                    <div class="range-price">{% trans 'Price' %}:&#32;
                      <div class="rangePrice">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input class="form-input form-input_full" id="title" name="title" type="text" placeholder="{% trans 'Title' %}" value="{{ request.GET.title }}"/>
                </div>
                <div class="form-group">
                  <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                </div>
                <div class="form-group">
                  <label class="toggle">
                    <input type="checkbox" name="in_stock" {{ in_stock }}/>
	                  <span class="toggle-box"></span><span class="toggle-text">{% trans 'Only items in stock' %}</span>
                  </label>
                </div>
                <div class="form-group">
                  <div class="buttons">
	                  <button class="btn btn_square btn_dark btn_narrow">{% trans 'Filter' %}</button>
                  </div>
                </div>
              </form>
            </div>
            {% endif %}
          </div>
          {% if catalog %}
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">{% trans 'Popular tags' %}</strong>
            </header>
            <div class="Section-columnContent">
              <div class="buttons">
              {% get_cloud_tags tags %}
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="Section-content">
            {% if catalog %}
          <div class="Sort">
            <div class="Sort-title">{% trans 'Sort by' %}:</div>
           {% get_sort_block %}
          </div>
            {% endif %}
          <div class="message-box"></div>
          <div class="Cards">
              {% for product in catalog%}
            <div class="Card">
                <a class="Card-picture" href="{{product.get_absolute_url }}">
                    {% for img in product.images.all|slice:"0:1"%}
                        <img src="{{ img.image.url }}" alt="{{ product.name }}"/>
                      {% endfor %}
                </a>
              <div class="Card-content">
                <strong class="Card-title"><a href="product.html">{{ product.name }}</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-price">${{ product.price }}</span>
                  </div>
                  <div class="Card-category">{{ product.get_tags_str }}
                  </div>
                  <div class="Card-hover"><a class="Card-btn" data-id="{{ product.id }}" href="#"><img src="{% static '/img/icons/card/cart.svg' %}" alt="cart.svg"/></a>
                  </div>
                </div>
              </div>
            </div>
              {% empty %}
                Ничего не нашлось =(
              {% endfor %}
          </div>
          {% if catalog %}
          <div class="Pagination">
            <div class="Pagination-ins">
                 {% if page_obj.has_previous %}
                    <a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.previous_page_number }}">
                        <img src="{% static 'img/icons/prevPagination.svg' %}" alt="prevPagination.svg"/>
                    </a>
                {% endif %}
                {% for i in paginator.page_range %}
                     <a class="Pagination-element {% if page_obj.number == i %} Pagination-element_current {% endif %}  " href="?page={{i}}">
                        <span class="Pagination-text">{{i}}</span>
                    </a>
                {% endfor %}
                {% if page_obj.has_next %}
                    <a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.next_page_number }}">
                        <img src="{% static 'img/icons/nextPagination.svg' %}" alt="nextPagination.svg"/>
                    </a>
                {% endif %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}