{% extends "base.html" %} 
{% load i18n %}
{% load cart_tag %}
{% block title %}Cart{% endblock %} 
{% block breadcrumbs %} 
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{% url 'main' %}">{% trans 'Home' %}</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">{% trans 'Cart' %}</li>
	</ol>
</nav> 
{% endblock %} 
{% block h1 %}
	{% trans 'Cart' %}
{% endblock %} 
{% block content %} 
<div class="Middle Middle_top">
	<div class="Middle-top">
		<div class="wrap">
			<div class="Middle-header">
				<h1 class="Middle-title">{% trans 'Checkout' %} </h1>
				<ul class="breadcrumbs Middle-breadcrumbs">
					<li class="breadcrumbs-item">
						<a href="{% url 'main' %}">{% trans 'Home' %}</a>
					</li>
					<li class="breadcrumbs-item breadcrumbs-item_current">
						<span>{% trans 'Checkout' %}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="Section Section_column Section_columnRight Section_columnWide Order">
		<div class="wrap">
			<div class="Section-column">
				<div class="Section-columnSection">
					<header class="Section-header">
						<strong class="Section-title">{% trans 'Filling progress' %}</strong>
					</header>
					<div class="Section-columnContent">
						<ul class="menu menu_vt Order-navigate">
							<li class="menu-item_ACTIVE menu-item">
								<a class="menu-link" href="#step1">{% trans 'Step 1. User parameters' %}</a>
							</li>
							<li class="menu-item">
								<a class="menu-link" href="#step2">{% trans 'Step 2. Delivery method' %}</a>
							</li>
							<li class="menu-item">
								<a class="menu-link" href="#step3">{% trans 'Step 3. Payment method' %}</a>
							</li>
							<li class="menu-item">
								<a class="menu-link" href="#step4">{% trans 'Step 4. Order confirmation' %}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="Section-content">
                {% if request.user.is_authenticated %}
                    {% include 'checkout/first_step_user_params.html' %}
                {% elif request.GET.already_register  %}
                    {% include 'checkout/auth_step.html' %}
                {% else  %}
                    {% include 'checkout/regs_step.html' %}
                {% endif %}
						<div class="Order-block" id="step2">
							<header class="Section-header Section-header_sm">
								<h2 class="Section-title">Шаг 2. Способ доставки </h2>
							</header>
							<div class="form-group">
                                {{ form.delivery_method }}
							</div>
							<div class="form-group">
                                <label class="form-label" for="{{ form.city.id_for_label }}" >{{ form.city.label }}</label>
                                {{ form.city }}
							</div>
							<div class="form-group">
                                <label class="form-label" for="{{ form.address.id_for_label }}" >{{ form.address.label }}</label>
                                {{ form.address }}
							</div>
							<div class="Order-footer">
								<a class="btn btn_success Order-next" href="#step3">Дальше</a>
							</div>
						</div>
						<div class="Order-block" id="step3">
							<header class="Section-header Section-header_sm">
								<h2 class="Section-title">Шаг 3. Способ оплаты </h2>
							</header>
							<div class="form-group">
								 {{ form.payment_method }}
							</div>
							<div class="Order-footer">
								<a class="btn btn_success Order-next" href="#step4">Дальше</a>
							</div>
						</div>
						<div class="Order-block" id="step4">
							<header class="Section-header Section-header_sm">
								<h2 class="Section-title">Шаг 4. Подтверждение заказа </h2>
							</header>
							<!--+div.Order.-confirmation-->
							<div class="Order-infoBlock">
								<div class="Order-personal">
									<div class="row">

									</div>
								</div>
								<div class="Cart Cart_order">
                                   {% for item in cart_list %}
									<div class="Cart-product">
										<div class="Cart-block Cart-block_row">
											<div class="Cart-block Cart-block_pict">
												 <a class="Cart-pict" href="{% url 'product-detail' item.product.slug %}">
                                                    {% for img in item.product.images.all|slice:"0:1"%}
                                                        <img src="{{ img.image.url }}" alt="{{ img.image.alt }}" width="150"/>
                                                    {% endfor %}
                                                  </a>
											</div>
											<div class="Cart-block Cart-block_info">
												  <a class="Cart-title" href="{% url 'product-detail' item.product.slug %}">{{ item.product.name }}</a>
                                                  <div class="Cart-desc">{{ item.product.short_description }}</div>
											</div>
											<div class="Cart-block Cart-block_price">
												<div class="Cart-price">{{ item.product.price }}$</div>
											</div>
										</div>
                                        <div class="Cart-block Cart-block_row">
                                          <div class="Cart-block Cart-block_amount">{{ item.quantity }} шт.
                                          </div>
                                        </div>

									</div>
                                    {% endfor %}
									<div class="Cart-total">
										<div class="Cart-block Cart-block_total">
											<div class="linec small">
												<strong class="Cart-title">Доставка: </strong>
												<span class="Cart-price delivery_price">{% get_price_delivery request %}$</span>
											</div>
											<div class="line">
												<strong class="Cart-title">Итого: </strong>
												<span class="Cart-price total_price">{% get_total_price_cart request %}$</span>
											</div>
										</div>
										<div class="Cart-block">
											<button class="btn btn_primary btn_lg" type="submit">Оплатить </button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div> 
{% endblock %}