{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans 'Megano - Home' %}
{% endblock %}
{% load static %}
{% block content %}
  <div class="Middle">
    <div class="Section">
      <div class="wrap">
        <div class="BannersHome">
            {% for hot_offer in hot_offers %}
                <a class="BannersHomeBlock" href="{{ hot_offer.get_absolute_url  }}">
                    <div class="BannersHomeBlock-row">
                      <div class="BannersHomeBlock-block">
                        <strong class="BannersHomeBlock-title">{{ hot_offer.name }}</strong>
                        <div class="BannersHomeBlock-content">{% trans 'from' %} <span class="BannersHomeBlock-price">${{ hot_offer.price }}</span></div>
                      </div>
                      <div class="BannersHomeBlock-block">
                        <div class="BannersHomeBlock-img">
                             {% for img in hot_offer.images.all|slice:"0:1"%}
                                <img src="{{ img.image.url }}" alt="{{ hot_offer.name }}"/>
                              {% endfor %}
                        </div>
                      </div>
                    </div>
                </a>
            {% endfor %}
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnDesktop"  >
      <div class="wrap">
        <div class="Section-content">
          <header class="Section-header">
            <h2 class="Section-title">Popular Products
            </h2>
          </header>
          <div class="Cards">
              {% for product in popular %}
                <div class="Card">
                    <a class="Card-picture" href="{{product.get_absolute_url }}">
                     {% for img in product.images.all|slice:"0:1"%}
                        <img src="{{ img.image.url }}" alt="{{ product.name }}"/>
                      {% endfor %}
                    </a>
                      <div class="Card-content">
                        <strong class="Card-title"><a href="{{product.get_absolute_url }}">{{ product.name }}</a></strong>
                        <div class="Card-description">
                          <div class="Card-cost"><span class="Card-price">${{ product.price }}</span>
                          </div>
                          <div class="Card-category">{{ product.get_tags_str }}</div>
                          <div class="Card-hover"><a class="Card-btn" data-id="{{ product.id }}" href="#"><img src="{% static '/img/icons/card/cart.svg' %}" alt="cart.svg"/></a>
                          </div>
                        </div>
                      </div>
                </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnRight">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static '/img/icons/advantages/shipping.svg' %}" alt="shipping.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Shipping & Returns
                </strong>
                <p class="media-text">World wide shipping
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static '/img/icons/advantages/moneyBack.svg' %}" alt="moneyBack.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Money Back</strong>
                <p class="media-text">Guaranted payments</p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static '/img/icons/advantages/support.svg' %}" alt="support.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Support Policy
                </strong>
                <p class="media-text">Fast support team
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static '/img/icons/advantages/quality.svg' %}" alt="quality.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Quality Guarantee
                </strong>
                <p class="media-text">Best guaranted items
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Slider Slider_carousel">
            <header class="Section-header Section-header_close">
              <h2 class="Section-title">Limited edition
              </h2>
              <div class="Section-control">
                <div class="Slider-navigate">
                </div>
              </div>
            </header>
            <div class="Slider-box Cards">

          {% for lim_product in limited %}
              <div class="Slider-item">
                <div class="Slider-content">
                  <div class="Card">
                    <a class="Card-picture" href="{{lim_product.get_absolute_url }}">
                       {% for img in lim_product.images.all|slice:"0:1"%}
                        <img src="{{ img.image.url }}" alt="{{ lim_product.name }}"/>
                      {% endfor %}
                    </a>
                    <div class="Card-content">
                      <strong class="Card-title"><a href="{{lim_product.get_absolute_url }}">{{ lim_product.name }}</a></strong>
                      <div class="Card-description">
                        <div class="Card-cost"><span class="Card-price">${{ lim_product.price }}</span>
                        </div>
                        <div class="Card-category">{{ lim_product.get_tags_str }}</div>
                        <div class="Card-hover"><a class="Card-btn" data-id="{{ lim_product.id }}" href="#"><img src="{% static '/img/icons/card/cart.svg' %}" alt="cart.svg"/></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}