{% extends "base.html" %}
{% load i18n %}
{% load cart_tag %}
{% block title %}Cart{% endblock %}
{% block breadcrumbs %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{% url 'main' %}">{% trans 'Home' %}</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">{% trans 'Cart' %}</li>
	</ol>
</nav>
{% endblock %}
{% block h1 %}
	{% trans 'Cart' %}
{% endblock %}
{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title"> {% trans 'Payment' %}</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Payment' %}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <form class="form Payment" action="{% url 'pay' uid %}" method="post">
             {% csrf_token %}
          <div class="Payment-card">
            <div class="form-group">
                <label class="form-label" for="{{ form.cart_number.id_for_label }}" >{{ form.cart_number.label }}</label>
                {{ form.cart_number }}
                {% get_random_button %}
            </div>
          </div>
            <button class="btn btn_primary btn_lg" type="submit">Оплатить </button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}