{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load cart_tag %}
{% block title %}Cart{% endblock %}
{% block breadcrumbs %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{% url 'main' %}">{% trans 'Home' %}</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">{% trans 'Cart' %}</li>
	</ol>
</nav>
{% endblock %}
{% block h1 %}
	{% trans 'Cart' %}
{% endblock %}
{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{% trans 'Waiting for payment' %}</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Waiting for payment' %}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="Section">
      <div class="wrap">
          {% get_status_section %}
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
 <script>
            var timer_id;
            function check_status(){
                uid = location.pathname.split('/').slice(-2, -1)[0]
                console.log('check_status')
                $.ajax({
                    url: '{% url 'get_order_status' uid %}',
                    dataType: 'json',
                    headers: {
                            'X-CSRFToken':getCookie('csrftoken')
                        },
                  success: function (response) {
                         $('.ProgressPayment-title').text(response.message);
                         if (response.status=="payment_error"){
                            $('.ProgressPayment-icon').html('<img src="{% static 'img/icons/stop.png' %}">');
                         }
                         if (response.status=="paid"){
                            $('.ProgressPayment-icon').html('<img src="{% static 'img/icons/86784775.gif' %}">');
                         }
                         if(response.status=="payment_error" || response.status=="paid"){
                             clearInterval(timer_id)
                         }

                   }
              });
            }
        $(document).ready(function (){
            timer_id = setInterval(check_status, 2000);

        });
    </script>
{% endblock %}