{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load cart_tag %}
{% block title %}Cart{% endblock %}
{% block breadcrumbs %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{% url 'main' %}">{% trans 'Home' %}</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">{% trans 'Cart' %}</li>
	</ol>
</nav>
{% endblock %}
{% block h1 %}
	{% trans 'Cart' %}
{% endblock %}
{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{% trans 'History of orders' %}</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'History of orders' %}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
         {%  include 'users/left_menu.html'%}
        </div>
        <div class="Section-content">
          <div class="Orders">
	          {% for item in object_list %}
		            <div class="Order Order_anons">
		              <div class="Order-personal">
		                <div class="row">
		                  <div class="row-block"><a class="Order-title" href="{% url 'order_detail' item.id %}">
			                  {% trans 'Order' %}&#32;<span class="Order-numberOrder">№{{ item.id }}</span>&#32;{% trans 'of' %}&#32;
			                  <span class="Order-dateOrder">{{ item.create_date }}</span></a>
		                  </div>
		                  <div class="row-block">
		                    <div class="Order-info Order-info_delivery">
		                      <div class="Order-infoType">{% trans 'Shipping method' %}:</div>
		                      <div class="Order-infoContent">{{ item.delivery_method.display_name }}</div>
		                    </div>
		                    <div class="Order-info Order-info_pay">
		                      <div class="Order-infoType">{% trans 'Payment method' %}:</div>
		                      <div class="Order-infoContent">{{ item.payment_method }}</div>
		                    </div>
		                    <div class="Order-info">
		                      <div class="Order-infoType">{% trans 'Total cost' %}:</div>
		                      <div class="Order-infoContent"><span class="Order-price">{{ item.get_total }}$</span>
		                      </div>
		                    </div>
		                    <div class="Order-info Order-info_status">
		                      <div class="Order-infoType">{% trans 'Status' %}:</div>
		                      <div class="Order-infoContent">{{ item.status }}</div>
		                    </div>
		                  </div>
		                </div>
		              </div>
		            </div>
	          {% endfor %}
        </div>
		<!--start prolongation -->
		<div class="Pagination">
			<div class="Pagination-ins">
				{% if page_obj.has_previous %}
				<a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.previous_page_number }}">
					<img src="{% static 'img/icons/prevPagination.svg' %}" alt="prevPagination.svg"/>
				</a>
				{% endif %}
				{% for i in paginator.page_range %}
				<a class="Pagination-element {% if page_obj.number == i %} Pagination-element_current {% endif %}  " href="?page={{i}}">
					<span class="Pagination-text">{{i}}</span>
				</a>
				{% endfor %}
				{% if page_obj.has_next %}
				<a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.next_page_number }}">
					<img src="{% static 'img/icons/nextPagination.svg' %}" alt="nextPagination.svg"/>
				</a>
				{% endif %}
			</div>
		</div><!--end prolongation -->
      </div>
    </div>
  </div>
{% endblock %}