{% extends "base.html" %}
{% load i18n %}
{% load cart_tag %}
{% block title %}Cart{% endblock %}
{% block breadcrumbs %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{% url 'main' %}">{% trans 'Home' %}</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">{% trans 'Cart' %}</li>
	</ol>
</nav>
{% endblock %}
{% block h1 %}
	{% trans 'Cart' %}
{% endblock %}
{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">История заказов
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>История заказов</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
         {%  include 'users/left_menu.html'%}
        </div>
        <div class="Section-content">
          <div class="Orders">
	          {% for item in object_list %}
		            <div class="Order Order_anons">
		              <div class="Order-personal">
		                <div class="row">
		                  <div class="row-block"><a class="Order-title" href="{% url 'order_detail' item.id %}">
			                  Заказ&#32;<span class="Order-numberOrder">№{{ item.id }}</span>&#32;от&#32;
			                  <span class="Order-dateOrder">{{ item.create_date }}</span></a>
		                  </div>
		                  <div class="row-block">
		                    <div class="Order-info Order-info_delivery">
		                      <div class="Order-infoType">Тип доставки:</div>
		                      <div class="Order-infoContent">{{ item.delivery_method.display_name }}</div>
		                    </div>
		                    <div class="Order-info Order-info_pay">
		                      <div class="Order-infoType">Оплата:</div>
		                      <div class="Order-infoContent">{{ item.payment_method }}</div>
		                    </div>
		                    <div class="Order-info">
		                      <div class="Order-infoType">Общая стоимость:</div>
		                      <div class="Order-infoContent"><span class="Order-price">{{ item.get_total }}$</span>
		                      </div>
		                    </div>
		                    <div class="Order-info Order-info_status">
		                      <div class="Order-infoType">Статус:</div>
		                      <div class="Order-infoContent">{{ item.status }}</div>
		                    </div>
		                  </div>
		                </div>
		              </div>
		            </div>
	          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}