{% load i18n %}
<form class="form auth-form" action="{% url 'login' %}" method="post" id="Register-form">
    {% csrf_token %}
    <div class="Order-block Order-block_OPEN" id="step1">
        <div class="row"><!---start--->
            <div class="row-block">
               {{ form.as_p}}
                {% if request.GET.already_register  %}
                <input name="next" type="hidden" value="{% url 'checkout' %}">
                {% else %}
                    <input name="next" type="hidden" value="{% url 'main' %}">
                {% endif %}
                <input class="btn btn_primary col-12" type="submit" value="{% trans 'Sign in' %}">
                <p class="mt-3">{% trans 'Not registered?' %} <a href="{% url 'register' %}">{% trans 'Sign up' %}</a></p>