{% load i18n %}
<form class="form" action="{{ action_url }}" method="post">
    {% csrf_token %}
    <div class="Order-block Order-block_OPEN" id="step1">
        <header class="Section-header Section-header_sm">
            <h2 class="Section-title">{% trans 'Step 1. User parameters' %}</h2>
        </header>
        <div class="row"><!---start--->
         <div class="row-block">
            <div class="form-group">
                 <label class="form-label" for="{{ form.receiver_name.id_for_label }}" >{{ form.receiver_name.label }}</label>
                {{ form.receiver_name }}
            </div>
            <div class="form-group">
               <label class="form-label" for="{{ form.phone.id_for_label }}" >{{ form.phone.label }}</label>
                {{ form.phone }}
            </div>
            <div class="form-group">
              <label class="form-label" for="{{ form.email.id_for_label }}" >{{ form.email.label }}</label>
              {{ form.email }}
            </div>
          </div>
        </div>
        <div class="Order-footer"><a class="btn btn_success Order-next" href="#step2">Дальше</a></div>
    </div>