{% load i18n %}
<form class="form" action="{% url 'register' %}" method="post" id="Register-form">
    {% csrf_token %}
    <div class="Order-block Order-block_OPEN">
        <div class="row"><!---start--->
        <div class="row-block">
            <div class="form-group">
                <label class="form-label" for="{{ form.fio.id_for_label }}" >{{ form.fio.label }}</label>
                {{ form.fio }}
            </div>
            <div class="form-group">
              <label class="form-label" for="{{ form.phone.id_for_label }}" >{{ form.phone.label }}</label>
              {{ form.phone }}
            </div>
            <div class="form-group">
              <label class="form-label" for="{{ form.username.id_for_label }}" >{{ form.username.label }}</label>
              {{ form.username }}
            </div>
          </div>
          <div class="row-block">
            <div class="form-group">
              <label class="form-label" for="{{ form.password1.id_for_label }}" >{{ form.password1.label }}</label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label class="form-label" for="{{ form.password2.id_for_label }}" >{{ form.password2.label }}</label>
                {{ form.password2 }}
            </div>
            <div class="form-group"><a class="btn btn_muted Order-btnReg" href="?already_register=true">Я уже зарегистрирован</a>
            </div>
          </div>
        </div>
        <div class="Order-footer"><a class="btn btn_success submit-register" href="#">Регистрация</a></div>
         {{ form.errors }}